.mainTimerBlock{
  margin: auto;
  width: 30%;
  border: 1px solid black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.timerNum{
  padding: 10px 10px;
  border-bottom:1px solid black ;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.mainBtnsBlock{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.startStopBtn{
  border-right: 1px solid black;
  text-align: center;
  width: 33%;
  font-size: 20px;
  padding: 10px 10px;
  cursor: pointer;
}

.waitBtn{
  text-align: center;
  width: 33%;
  font-size: 20px;
  padding: 10px 10px;
  cursor: pointer;
}

.resetBtn{
  border-left:1px solid black;
  text-align: center;
  width: 33%;
  font-size: 20px;
  padding: 10px 10px;
  cursor: pointer;
}